@charset 'UTF-8';
/**
 * 
 * @authors BreathlessWay (731005087@qq.com)
 * @date    2017-09-08 13:56:04
 * @version $Id$
 */
.MT50 {
    margin-top : 50px;
}
.shop-index-list_title {
    color : #222222;
}

.shop-index-list_title:hover {
    text-decoration : none;

    color : #28a745;
}