<%- include('header') %>

<article class="container">
	<form class="col-md-6" style="margin:50px auto" method="post" action="/sign">
	  <div class="form-group">
	    <label for="user">Email address</label>
	    <input type="text" class="form-control" id="user" placeholder="user name" name='user'>
	  </div>
	  <div class="form-group">
	    <label for="password">Password</label>
	    <input type="password" class="form-control" id="password" placeholder="password" name="password">
	  </div>
	  <div class="form-group">
	    <label for="password2">Password</label>
	    <input type="password" class="form-control" id="password2" placeholder="password repeat" name="password2">
	  </div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</article>

<%- include('footer') %>
