<%- include('header') %>
<article class="row">
    <section class=" media col-6 mx-auto">
        <img class="rounded  col-2 img-fluid" src="<%= user.avatar %>" alt="<%= user.name %>">
        <div class="media-body col-10">
            <form class="" method="post" action="/posts">
                <div class="form-group">
                    <label for="title">标题：</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="文章标题">
                </div>
                <div class="form-group">
                    <label for="content">内容：</label>
                    <textarea class="form-control" id="content" rows="3" name="content" placeholder="文章内容"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-5">发布</button>
            </form>
        </div>
    </section>
</article>
<%- include('footer') %>