<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
<article class="container py-5">
    <nav class="fixed-top col-6 mx-auto mt-2 text-right">
        <button class="btn btn-info btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            导航
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% nav.forEach(function(list){ %>
            <a class="dropdown-item" href="<%= list.link %>"><%= list.title %></a>
            <% }) %>
        </div>
    </nav>
    <h4 class="text-center mb-5"><%= title %></h4>