<%- include('header') %>
<article class="container">
    <section class="row">
        <ul class="list-unstyled col-6 mx-auto">
            <li class=" media pb-3 mb-3 border border-top-0 border-left-0 border-right-0">
                <img class="mr-3 rounded  col-4 img-fluid" src="/img/1.jpeg" alt="Generic placeholder image">
                <div class="media-body col-8">
                    <h5 class="mt-0 mb-1">List-based media object</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </li>
        </ul>
    </section>
</article>
<%- include('footer') %>