<%- include('header') %>
<article class="row">
    <section class="col-6 mx-auto">
        <div class="media ">
            <img class="rounded  col-2 img-fluid" src="/img/1.jpeg" alt="Generic placeholder image">
            <div class="media-body col-10">
                <h5 class="mt-0 mb-1">List-based media object</h5>
                <p>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </p>
                <div class="row text-secondary">
                    <p class="col">2015-10-15 10:55:30</p>
                    <p class="col text-right">浏览(5) 留言(10)</p>
                </div>
            </div>
        </div>
        <hr>
        <h5 class="text-center">留言</h5>
        <hr>
        <ul class="list-unstyled">
            <li class="media pb-3 mb-3 border border-top-0 border-left-0 border-right-0">
                <img class="rounded  col-2 img-fluid" src="/img/1.jpeg" alt="Generic placeholder image">
                <div class="media-body col-10">
                    <p class="mt-0 mb-1"><span class="font-weight-bold">张三</span>&nbsp;&nbsp;<span class="text-secondary">2015-10-22 10:30:20</span></p>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </li>
        </ul>
    </section>
</article>
<%- include('footer') %>