<%- include('header') %>
<article class="sign-up">
    <header>
        <h3 class="text-center">Blog Register</h3>
    </header>
    <section class="sign-up-form">
        <% if(success) { %>
        <div class="alert alert-success" role="alert"><%= success %></div>
        <% } %>
        <% if(error) { %>
        <div class="alert alert-danger" role="alert"><%= error %></div>
        <% } %>
        <form method="post">
            <div class="form-group has-success has-feedback">
                <label for="user">用户名</label>
                <input class="form-control" name="user" id="user" placeholder="用户名">
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            </div>
            <div class="form-group has-warning has-feedback">
                <label for="password">密码</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="密码">
                <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
            </div>
            <div class="form-group has-error has-feedback">
                <label for="password_d">确认密码</label>
                <input type="password" class="form-control" id="password_d" name="password_d" placeholder="确认密码">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            </div>
            <div class="form-group">
                <label for="gender">性别</label>
                <select class="form-control" id="gender" name="gender">
                    <option value="0">女</option>
                    <option value="1">男</option>
                </select>
            </div>
            <div class="form-group">
                <label for="avatar">头像</label>
                <input type="file" id="avatar" name="avatar" accept="image/jpg,image/jpeg,image/png,image/gif">
                <p class="help-block">选择头像上传</p>
            </div>
            <div class="form-group">
                <label for="bio">自我介绍</label>
                <textarea class="form-control" rows="3" id="bio" name="bio"></textarea>
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="注册">
            <a href="/" class="btn btn-default btn-block">返回</a>
        </form>
    </section>
</article>
<%- include('footer') %>