.sign-up-form, .sign-in-form, .posts-article-list, .posts-article-edit-form, .posts-article-detail_wrap {
    width: 500px;
    margin: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dropdown-menu {
    min-width: 70px;
}

.posts-article-list-item {
    border-radius: 10px;
    padding: 20px 20px 30px;
    box-shadow: 0 0 35px #ccc;
    margin-bottom: 30px;
}

.posts-article-list_title {
    color: #2a65ff;
    font-size: 22px;
}

.posts-article-list_content {
    margin-bottom: 20px;
}

.posts-article-list_aside {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.posts-article-list-link {
    color: #000;
}

.posts-article-list-link:hover {
    text-decoration: none;
}

.posts-nav {
    position: absolute;
    right: 440px;
    top: 28px;
}

.posts-nav .dropdown-menu .divider {
    margin: 6px 0
}

.posts-article-detail-content {
    border-radius: 10px;
    padding: 20px 20px 30px;
    box-shadow: 0 0 35px #ccc;
    margin-bottom: 30px;
}

.posts-article-detail-comment {
    border-radius: 10px;
    padding: 10px 20px 30px;
    box-shadow: 0 0 35px #ccc;
    margin-bottom: 30px;
}

.posts-article-detail_aside_right .dropdown {
    display: inline-block;
}

.posts-article-detail-comment hr {
    margin-bottom: 12px;
    margin-top: 8px;
}

.posts-article-detail-comment_item .media-body {
    position: relative;
}

.posts-article-detail-comment_item .glyphicon-remove {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #ce4844;
}

.posts-article-detail-comment_item_date{
    font-size: 12px;
    font-style: normal;
    margin-left: 10px;
}