<%- include('header') %>
<article class="container">
	<h5 class="text-info text-center"><%= success%></h5>
	<form style="width: 300px;margin: auto">
	  <div class="form-group">
	    <label for="user">用户名：</label>
	    <input type="text" class="form-control" id="user" placeholder="用户名" name="user" aria-describedby="user-info">
	    <small id="user-info" class="form-text text-muted">用户名不能为除英文汉字数字以外的字符</small>
	  </div>
	 <div class="form-group">
	    <label for="password">密   码：</label>
	    <input type="password" class="form-control" id="password" placeholder="密码" name="password">
	  </div>
	  <div class="form-group">
	    <label for="password_repeat">重复密码：</label>
	    <input type="password" class="form-control" id="password_repeat" placeholder="重复密码" name="password_repeat">
	  </div>
	  <button type="submit" class="btn btn-primary">注册</button>
	  <a href="/" class="btn  btn-outline-primary">返回</a>
	</form>
</article>
<%- include('footer') %>